In [ ]:
anaconda install python
-------------------------
1. by default data analytics and ML libs are avaiable 
2. Ipython - GIL disabled - real multithread
                   Vs
python.org
----------
 |-> we can do python programming 
      pip install numpy ....
 |-> Cpython - GIL - enabled

In [ ]:
In python everything is an object ( class <--> object)
          ----------
            10 10.0 True False None 'abcdefgh' //object

In [1]:
print(type(10),type(10.0),type('10'))

<class 'int'> <class 'float'> <class 'str'>

In [5]:
hex(id(10))

'0x7ffe0ce85ad8'

In [11]:
a=10
b=4+6
c=3+7
print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))

0x7ffe0ce85ad8
0x7ffe0ce85ad8
0x7ffe0ce85ad8

In [13]:
a=a+1
print(hex(id(a)))

0x7ffe0ce85af8

In [ ]:
procedure style code - direct approach (ex: var = 10
                                            def f1():
                                                 ...
                                            f1() <== direct call
                                            print(var)<== direct call)

object oriented style code - object based approach (ex: obj1.var = 10
                                                        obj2.var = 10
                                                        obj1.fx() <== method Call)


functional style code - higher order -> function(anotherfunction,...) 
---------------------- //Single line code - this is not block style code
  fA(fB,...) ->fA result

In [15]:
L = [] # empty list

def f1(a):
    return a+100

for var in range(1,11):
    r = f1(var)
    L.append(r)
print(L)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [19]:
list(map(lambda a:a+100,range(1,11)))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [ ]:
Python native type - class
int float complex
bool NoneType
str bytes list tuple dict set

In [25]:
var = 10  # initialization 
print(type(var),var)
print(type(10.0),10.0)
print(type(1+3j),1+3j)

<class 'int'> 10
<class 'float'> 10.0
<class 'complex'> (1+3j)

In [27]:
print(type(1231314241423413253135345345135152132412412342142423423))

<class 'int'>

In [29]:
print(type(-1231314241423413253135345345135152132412412342142423423))

<class 'int'>

In [31]:
print(type(1231314241423413253135345345135152132412412342142423423.0))

<class 'float'>

In [33]:
# int,float ->int,float
print(10+20)
print(10+20.0)

30
30.0

In [35]:
cost=3456.13
cost * 0.18

622.1034

In [ ]:
# typecast to int  ->int()  ->int_value
# typecast to float ->float() ->float_Value

In [37]:
print(float(45)) # typecast to float ->float() ->float_Value
print(int(123.562)) # typecast to int  ->int()  ->int_value

45.0
123

In [39]:
cost=3456.13
int(cost * 0.18)

622

# arithmetic operators 
# + - * / // **  input_types are: int,float ->int,float

In [43]:
print(type(True),type(False))
print(bool(1),bool(-1),bool(1.0),bool('abc'))
print(bool(0),bool(0.0),bool(''),bool([]),bool(()),bool({}),bool(None))

<class 'bool'> <class 'bool'>
True True True True
False False False False False False False

In [45]:
if(1):
    print('Yes-True block')
else:
    print('False block')

Yes-True block

In [47]:
if(0):
    print('Yes-True block')
else:
    print('False block')

False block

In [49]:
my_name = input('Enter your name:')
my_name

Enter your name: karthik

'karthik'

In [51]:
my_name = input('Enter your name:')
my_name

Enter your name:

''

In [53]:
my_name = input('Enter your name:')
if(my_name):
    print('Hello ...',my_name)
else:
    print('Sorry your input is missing')

Enter your name: vijay

Hello ... vijay

In [55]:
my_name = input('Enter your name:')
if(my_name):
    print('Hello ...',my_name)
else:
    print('Sorry your input is missing')

Enter your name:

Sorry your input is missing

# In python any expression (or) method (or) function ->bool //use conditional statement

In [57]:
# string - collection of chars ''
s1 = 'Hello'
s2 = "python"
s3 = '''this is 
multiline 
string'''
s4 = """list of servers
Linux
oracle linux
redhat linux"""

In [59]:
print(type(s1),type(s2),type(s3),type(s4))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [61]:
print(s3)

this is
multiline
string

In [63]:
print(s4)

list of servers
Linux
oracle linux
redhat linux

In [67]:
# len(collection) ->int
len(s4),len('')

(47, 0)

In [69]:
# string operators 
# str1+str2+..strN ->output_str

print(10+20)
print("Hello"+"python"+str(3.11)+"version")

30
Hellopython3.11version

In [71]:
# inputstring * n (int) ->output_str
"Hello"*3

'HelloHelloHello'

In [73]:
# Relational Operators
# == != < <= > >= (inputs: int,float,str) ->output: bool
1562.31 >0.31

True

In [75]:
# Logical operators
# --------------------
# and or not (inputs: int,float,str) ->output: bool

# In Single conditional statement , test more than one condition //use logical operators

# test range of port numbers 5000-5999

port = 5690
port >5000

True

In [77]:
port <6000

True

In [79]:
port >5000 and port <6000

True

In [81]:
sh_name = input('Enter a shell name:')
sh_name == 'bash' or sh_name == 'ksh'

Enter a shell name: bash

True

In [83]:
sh_name = input('Enter a shell name:')
sh_name == 'bash' or sh_name == 'ksh'

Enter a shell name: ksh

True

In [85]:
sh_name = input('Enter a shell name:')
sh_name == 'bash' or sh_name == 'ksh'

Enter a shell name: csh

False

In [87]:
not True

False

In [89]:
not False

True

In [91]:
# membership operators(inputs are: str,bytes,list,tuple,dict ->output:bool)
# in not in

# pattern_string in collection ->bool

'sales' in '101,raj,sales,pune,1000'

True

In [93]:
'sales' in '101,raj,prod,pune,1000'

False

In [95]:
if('sales' in '101,raj,sales,pune,1000'):
    print('Yes - dept sales is exists')
else:
    print('Sorry dept sales is not exists')

Yes - dept sales is exists

Looping statements
---------------------
1. conditional style - while keyword
2. collection style - for keyword

1. conditional style - while keyword
rule1 : initialization i=0 j=15 k = 50
rule2 : condition   i <5   j>10 k <100
rule3 : arithmetic  i=i+1  j=j-1 k=k+1 

initialization
while(condition):
    <code block>
    arithmetic

In [97]:
i=0
while(i<5):
    print('i value is:',i)
    i=i+1

i value is: 0
i value is: 1
i value is: 2
i value is: 3
i value is: 4

In [99]:
i

5

In [101]:
i < 5

False

In [103]:
while(False):
    print('Hello')

In [ ]:
break     - exit from loop
continue  - won't exit from loop - ignore current iteration - continue the loop

for variable in <collection>:
    <code block>

for in - keywords

In [105]:
for v in 'hello':
    print(v)

h
e
l
l
o

In [ ]:
Write a program:
Step 1: initialize the pin number (ex: pin=1234)
Step 2: Use while loop to iterate following statement thrice
	(i) Read a pin number from <STDIN>
	(ii) Compare a input pin with existing pin number
	(iii) If both pin numbers are matched , display pin number is matched at count time & exit from loop.
	(iv) If all 3 attempts fails, display message “ your pin is blocked.”

In [107]:
pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        print(f'Success - pin is matched - {count}')
        break

if(int(p) != pin):
    print('Sorry your pin is blocked')

Enter a pin Number: 1234

Success - pin is matched - 1

In [109]:
pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        print(f'Success - pin is matched - {count}')
        break

if(int(p) != pin):
    print('Sorry your pin is blocked')

Enter a pin Number: 1255
Enter a pin Number: 1234

Success - pin is matched - 2

In [111]:
pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        print(f'Success - pin is matched - {count}')
        break

if(int(p) != pin):
    print('Sorry your pin is blocked')

Enter a pin Number: 1221
Enter a pin Number: 12312
Enter a pin Number: 1234

Success - pin is matched - 3

In [113]:
pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        print(f'Success - pin is matched - {count}')
        break

if(int(p) != pin):
    print('Sorry your pin is blocked')

Enter a pin Number: 12312
Enter a pin Number: 12312
Enter a pin Number: 12312

Sorry your pin is blocked

In [115]:
# product
#   |-->productName,productCost,productID ....

pname = 'pA'
pcost = 1000.35
pid = 101
pstatus = True

print(f'product Name:{pname}  cost is:{pcost} product ID:{pid} status:{pstatus}')

product Name:pA  cost is:1000.35 product ID:101 status:True

In [117]:
# list - Collection of different types of items
# list_name = [<list of items>]

product_details = [pname,pcost,pid,pstatus]
product_details

['pA', 1000.35, 101, True]

In [121]:
print(f'''product Name:{product_details[0]}  cost is:{product_details[1]} 
product ID:{product_details[2]} status:{product_details[3]}''')

product Name:pA  cost is:1000.35
product ID:101 status:True

In [123]:
# tuple - Collection of different types of items
# tuple_name = (<list of items>)

product_details = (pname,pcost,pid,pstatus)
product_details

('pA', 1000.35, 101, True)

In [125]:
print(f'''product Name:{product_details[0]}  cost is:{product_details[1]} 
product ID:{product_details[2]} status:{product_details[3]}''')

product Name:pA  cost is:1000.35
product ID:101 status:True

In [ ]:
# list - mutable - we can add new data; modify an existing data ; delete nth data
# tuple - immutable - we can't add/modify/delete

In [127]:
for var in ['D1','D2','D3']:
    print(var)

D1
D2
D3

In [129]:
for var in ('D1','D2','D3'):
    print(var)

D1
D2
D3

# list - mutable - we can add new data; modify an existing data ; delete nth data

# To add new data => listname.append(value) ->None <or> Listname.insert(index,value) ->None

# To modify an existing data => listname[oldIndex]=updated_Value 

#To delete an existing value => listname.pop(index) ->removed_value 
                                                Vs 
                                listname.pop() ->remove_lastindex

Q1. write a python program 
Step 1 : Create a file name : p11.py 
Step 2: create an empty list
Step 3: display size of list 
Step 4: use while loop  5 times 
                    i)  To read a hostname from <STDIN>
                    ii) To add a input hostname to existing list
Step 5: using for loop, display list of elements 
Step 6: display size of the list

In [131]:
hosts = [] # empty list
print(f'No.of hosts:{len(hosts)}')

c = 0 
while(c < 5):
    h = input('Enter a hostname:')
    hosts.append(h) # adding new data to an existing list
    c=c+1

print('\nlist of hostname:-')
for var in hosts:
    print(f'Host name is:{var}')

print(f'No.of hosts:{len(hosts)}')

No.of hosts:0

Enter a hostname: host01
Enter a hostname: host02.example.com
Enter a hostname: host03
Enter a hostname: host04
Enter a hostname: host05

list of hostname:-
Host name is:host01
Host name is:host02.example.com
Host name is:host03
Host name is:host04
Host name is:host05
No.of hosts:5

In [ ]:
collection
   |--> index based - str,bytes,list,tuple  - list is mutable
   |--> key based  - dict - key:value //data - dict is mutable 
                     set - collection of keys // Not index ; Not Key:Value

In [135]:
pname = 'pA'
pcost = 1000.35
pid = 101
pstatus = True

product_details1 = [pname,pcost,pid,pstatus]

product_details2 = (pname,pcost,pid,pstatus)

product_details3 = {'K1':pname,'K2':pid,'K3':pstatus,'K4':pcost} # dict
product_details3

{'K1': 'pA', 'K2': 101, 'K3': True, 'K4': 1000.35}

In [137]:
print(product_details1[0])
print(product_details3['K1'])

pA
pA

In [139]:
product_details1[1] = 2456.42 # modification
product_details3['K4'] = 2456.42 # modification

In [141]:
product_details1

['pA', 2456.42, 101, True]

In [145]:
product_details3

{'K1': 'pA', 'K2': 101, 'K3': True, 'K4': 2456.42}

In [ ]:
# To add new data to dict

dictName['newKey'] = newValue  ->(1)   Vs  dictName['oldKey'] = updated_Value  <== modification
     <or>
dictName.setdefault(newKey,newValue) ->(2)

# To delete an existing value from dict
dictName.pop('oldKey') ->removed_Value

In [147]:
emp={} # empty dict
emp['eid'] = 'A101'
emp['ename'] = 'arun'
emp['edept'] = 'sales'
emp

{'eid': 'A101', 'ename': 'arun', 'edept': 'sales'}

In [149]:
emp['edept'] = 'production' # modification

In [151]:
emp

{'eid': 'A101', 'ename': 'arun', 'edept': 'production'}

In [ ]:
list,tuple,dict
|    |      |

list of list/tuple/dict =>  [ [],(),{} ]
tuple of list/tuple/dict => ( [],(),{} )
dict of list/tuple/dict =>  {'Key1':[],'Key2':(),'Key3':{'K1':Value,'K2':Value}}
----   =================

In [159]:
emp={}
emp['eid']=[]
emp['edept']=[]
emp['place']=[]
# dict of list
emp

{'eid': [], 'edept': [], 'place': []}

In [161]:
print(type(emp),type(emp['eid']))

<class 'dict'> <class 'list'>

In [163]:
emp['eid'].append('A101')
emp['eid'].append('A102')
emp['eid'].append('A103')

In [165]:
emp['edept'].append('Sales')
emp['edept'].append('prod')
emp['edept'].append('QA')

In [167]:
emp['place'].append('City1')
emp['place'].append('City2')
emp['place'].append('City3')

In [169]:
emp

{'eid': ['A101', 'A102', 'A103'],
 'edept': ['Sales', 'prod', 'QA'],
 'place': ['City1', 'City2', 'City3']}

In [171]:
emp['eid'][0]

'A101'

In [173]:
emp['edept'][0]

'Sales'

In [175]:
L=[[],('D1','D2'),{'K1':'V1'}]
L

[[], ('D1', 'D2'), {'K1': 'V1'}]

In [177]:
L[0].append('dA')
L[0].append('dB')
L[0].append('dC')

In [179]:
L[1].append('D3')

AttributeError: 'tuple' object has no attribute 'append'

In [183]:
print(type(L),type(L[1]))

<class 'list'> <class 'tuple'>

In [185]:
L

[['dA', 'dB', 'dC'], ('D1', 'D2'), {'K1': 'V1'}]

In [187]:
L[2]['K1']

'V1'

In [189]:
L[2]['K1']='Value-1' # we can modify
L[2]['K2']='Value-2' # we can add new data
L

[['dA', 'dB', 'dC'], ('D1', 'D2'), {'K1': 'Value-1', 'K2': 'Value-2'}]

In [193]:
d = {"pull_request": {
      "url": "https://api.github.com/repos/tidyverse/ggplot2/pulls/6364",
      "html_url": "https://github.com/tidyverse/ggplot2/pull/6364",
      "diff_url": "https://github.com/tidyverse/ggplot2/pull/6364.diff",
      "patch_url": "https://github.com/tidyverse/ggplot2/pull/6364.patch",
      "merged_at": None
    }}
print(type(d))

<class 'dict'>

In [195]:
import json

In [197]:
js_obj  = json.dumps(d) # convert from python to json

In [199]:
json.loads(js_obj) # convert from json to python

{'pull_request': {'url': 'https://api.github.com/repos/tidyverse/ggplot2/pulls/6364',
  'html_url': 'https://github.com/tidyverse/ggplot2/pull/6364',
  'diff_url': 'https://github.com/tidyverse/ggplot2/pull/6364.diff',
  'patch_url': 'https://github.com/tidyverse/ggplot2/pull/6364.patch',
  'merged_at': None}}

In [201]:
python_stru = json.loads(js_obj) # convert from json to python
import pprint
pprint.pprint(python_stru)

{'pull_request': {'diff_url': 'https://github.com/tidyverse/ggplot2/pull/6364.diff',
                  'html_url': 'https://github.com/tidyverse/ggplot2/pull/6364',
                  'merged_at': None,
                  'patch_url': 'https://github.com/tidyverse/ggplot2/pull/6364.patch',
                  'url': 'https://api.github.com/repos/tidyverse/ggplot2/pulls/6364'}}

In [205]:
python_stru['pull_request']['diff_url'] # dict of dict

'https://github.com/tidyverse/ggplot2/pull/6364.diff'

In [ ]:
# list and dict

In [207]:
T=([],[]) # tuple of list
len(T)

2

In [211]:
print(type(T))
print(type(T[0]))

<class 'tuple'>
<class 'list'>

In [213]:
T[0].append('D1')
T[0].append('D2')
T[0].append('D3')
T[0].append('D4')
T[0].append('D5')
T[0].append('D6')
T[1].append('D11')
T[1].append('D12')
T[1].append('D13')

In [215]:
len(T)

2

In [217]:
T

(['D1', 'D2', 'D3', 'D4', 'D5', 'D6'], ['D11', 'D12', 'D13'])

In [ ]:
set - not for storage use case
    - keep unique item ; there is no duplicate item
    - not index based ; not key:value based  - we can add new data ; we can delete it
                                             - we can't modify

In [219]:
type({})

dict

In [221]:
s={10,20,'K1','K2','V1','V2',10,20,10,20,'K1','V1','K2','V2'}  # Vs d={"Key":Value}
print(type(s),len(s))

<class 'set'> 6

In [223]:
s

{10, 20, 'K1', 'K2', 'V1', 'V2'}

In [225]:
L = ['D1','D2','D1','D3','D2','D1','D2','D1','D1']
set(L) # type cast to set - omitt the duplicate values

{'D1', 'D2', 'D3'}

In [227]:
list(set(L)) # again convert to list

['D2', 'D3', 'D1']

set operation
union intersection difference symmetricdifference
|         &           -                   ^   <== set operators
         <or>
union() intersection() difference()  symmetric_difference() <== methods

In [229]:
#File Handling
#---------------
open('emp.csv')

In [231]:
open('emp.csv','r')

In [ ]:
open('E:\\project\\DAY1\\FN\\emp.csv','r') 
open('/home/userA/project/DAY1/FN/emp.csv','r')

In [233]:
import os
os.getcwd()

'C:\\Users\\theeba'

In [237]:
# open('E:\\emp.csv','r') ->FileNotFoundError: [Errno 2] No such file or directory: 'E:\\emp.csv'

In [239]:
fobj = open('emp.csv','r')
fobj.read()

'eid,ename,edept,eplace,ecost\n101,ram,sales,pune,1000\n102,leo,prod,bglore,2000\n103,anu,HR,hyd,3000\n104,paul,sales,bglore,3200\n423,zio,sales,pune,3420\n142,anu,prod,chennai,4300\n949,karthik,sales,bglore,3100\n848,tom,hr,chennai,3940\n931,vijay,prod,chennai,3411'

In [241]:
fobj = open('emp.csv','r')
fobj.readlines()

['eid,ename,edept,eplace,ecost\n',
 '101,ram,sales,pune,1000\n',
 '102,leo,prod,bglore,2000\n',
 '103,anu,HR,hyd,3000\n',
 '104,paul,sales,bglore,3200\n',
 '423,zio,sales,pune,3420\n',
 '142,anu,prod,chennai,4300\n',
 '949,karthik,sales,bglore,3100\n',
 '848,tom,hr,chennai,3940\n',
 '931,vijay,prod,chennai,3411']

In [243]:
fobj = open('emp.csv','r')
s = fobj.read()
fobj.close()

In [245]:
fobj = open('emp.csv','r')
L = fobj.readlines()
fobj.close()

In [247]:
print(L)

['eid,ename,edept,eplace,ecost\n', '101,ram,sales,pune,1000\n', '102,leo,prod,bglore,2000\n', '103,anu,HR,hyd,3000\n', '104,paul,sales,bglore,3200\n', '423,zio,sales,pune,3420\n', '142,anu,prod,chennai,4300\n', '949,karthik,sales,bglore,3100\n', '848,tom,hr,chennai,3940\n', '931,vijay,prod,chennai,3411']

In [249]:
len(L)

10

In [251]:
'eid,ename,edept,eplace,ecost\n'.strip() # remove \n

'eid,ename,edept,eplace,ecost'

In [259]:
# python ->create a newFile
#                   --------//if file is already exists ->overwrite existing content
#                       |___ write data to file
#                               |__ write('SingleString\n')

#open('r1.log','w')

In [261]:
wobj = open('r1.log','w') # create a newFile 
wobj.write('Data1\n')    #--------------------------------------------------------
wobj.write('Product Cost is:4589.24\n')
pcost = 12434.32
pcode = 314
#wobj.write(pcost) # Error - argument must be string type
wobj.write(str(pcost)+"\n") #OK                                          write data to FILE
wobj.write(f"product cost is:{str(pcost)} product Code:{str(pcode)}\n") #--------------
wobj.close() # close your file object

In [263]:
fobj = open('r1.log','r')
s = fobj.read()
fobj.close()
print(s)

Data1
Product Cost is:4589.24
12434.32
product cost is:12434.32 product Code:314

In [ ]:
#open('r1.log','w') # overwrite an existing content 
#open('r1.log','a') # won't overwrite an existing content - a - append

In [ ]:
fobj = open('inputfile1','r')

wobj = open('resultfile','w')

s = fobj.read() # reading data from <FILE>
wobj.write(s)   # write data to FILE

fobj.close()
wobj.close()
# like cp inputfile1 resultfile

In [265]:
import time
time.ctime()

'Mon Mar 24 14:37:44 2025'

modify pin example
- create a new file - pin_history.log - append mode
- write user input pin(success/failed/blocked - both) - count - date/time
|
open pin_history.log - see the input details

In [267]:
wobj = open('pin_history.log','a')

pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        wobj.write(f'Success - pin {p} is matched at {count} date/time:{time.ctime()}\n')
        print(f'Success - pin is matched - {count}')
        break
    else:
        wobj.write(f'Failed - user input pin:{p}  not matched - {count} date/time:{time.ctime()}\n')

if(int(p) != pin):
    print('Sorry your pin is blocked')
    wobj.write(f'Sorry your pin is blocked - {count} date/time:{time.ctime()}\n')

wobj.close()

Enter a pin Number: 1234

Success - pin is matched - 1

In [269]:
wobj = open('pin_history.log','a')

pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        wobj.write(f'Success - pin {p} is matched at {count} date/time:{time.ctime()}\n')
        print(f'Success - pin is matched - {count}')
        break
    else:
        wobj.write(f'Failed - user input pin:{p}  not matched - {count} date/time:{time.ctime()}\n')

if(int(p) != pin):
    print('Sorry your pin is blocked')
    wobj.write(f'Sorry your pin is blocked - {count} date/time:{time.ctime()}\n')

wobj.close()

Enter a pin Number: 2123
Enter a pin Number: 2341
Enter a pin Number: 1234

Success - pin is matched - 3

In [271]:
wobj = open('pin_history.log','a')

pin = 1234
count = 0
while(count < 3):
    count = count + 1
    p = input('Enter a pin Number:')
    if(int(p) == pin):
        wobj.write(f'Success - pin {p} is matched at {count} date/time:{time.ctime()}\n')
        print(f'Success - pin is matched - {count}')
        break
    else:
        wobj.write(f'Failed - user input pin:{p}  not matched - {count} date/time:{time.ctime()}\n')

if(int(p) != pin):
    print('Sorry your pin is blocked')
    wobj.write(f'Sorry your pin is blocked - {count} date/time:{time.ctime()}\n')

wobj.close()

Enter a pin Number: 13131
Enter a pin Number: 12213
Enter a pin Number: 1232131

Sorry your pin is blocked

function             Vs method
|                          |->oops style
f1()//functionCall        obj.f1() //methodCall
|
|->Code block - set of operation
|->avoid code duplication

|->function definition
|->Invoke a definition - functionCall()

def functionName():
    '''Code block'''

functionName()

In [273]:
def display(user,password,db,port): # required arguments
    print("user=",user,"password=",password)
    print("db=",db,"port=",port)

display('admin','Abc@1234','mysql',3306)

user= admin password= Abc@1234
db= mysql port= 3306

In [281]:
#display() 
#TypeError: display() missing 4 required positional arguments: 'user', 'password', 'db', and 'port'

#display('root')
#TypeError: display() missing 3 required positional arguments: 'password', 'db', and 'port'

# display('a','b','c','d','e')
#TypeError: display() takes 4 positional arguments but 5 were given

In [295]:
def display(user='test',password='abc123',db='testdb',port=1234): # default arguments
    print("user=",user,"password=",password)
    print("db=",db,"port=",port)

display()
display('userA')
display('userB','xyz123')
display('userC','xyz2343','test1db')
display('userC','xyz2343','test1db',3333)
#display('a','b','c','d','e')
#TypeError: display() takes from 0 to 4 positional arguments but 5 were given

user= test password= abc123
db= testdb port= 1234
user= userA password= abc123
db= testdb port= 1234
user= userB password= xyz123
db= testdb port= 1234
user= userC password= xyz2343
db= test1db port= 1234
user= userC password= xyz2343
db= test1db port= 3333

In [297]:
def display(user,password,db='testdb',port):
    print("OK")

SyntaxError: parameter without a default follows parameter with a default (146432010.py, line 1)

In [299]:
def display(user,password,db='testdb',port=0):
    print("OK")

In [301]:
display()

TypeError: display() missing 2 required positional arguments: 'user' and 'password'

In [303]:
def display(user,password,port,db='testdb'):
    print("OK")

In [305]:
def f1(*a):
    print(a)

f1()
f1(10,20,30,40)
f1('D1','D2')
f1(db='mysql')

()
(10, 20, 30, 40)
('D1', 'D2')

TypeError: f1() got an unexpected keyword argument 'db'

In [307]:
import re
help(re.sub)

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the Match object and must return
    a replacement string to be used.

In [309]:
import os
os.getcwd()

'C:\\Users\\theeba'

In [311]:
import json
json.dumps(None) # from python ->json

'null'

In [313]:
os

In [315]:
json


project/
        p1.py
            |_____def f1()   def f2()  def f3() ... def f6()
        p2.py
             |___def fx()

        L1/
           |___p30.py p31.py...p50.py
	L2/
	  |__Sub1/
		|___p51.py p52.py p53.py
----------
|
|
import project.L1.p30
project.L1.p30.fg()//OK

Vs 
import project
project.f1() //OK

.pyc

__pycache__/.pyc 

package
----------
 |->directory (or) folder 

 |-> create a folder/directory
 |-> copy list of python files into folder/directory
 |-> create __init__.py <== package initialization file
 |-> copy external symbols to __init__.py file
 |                 .......(variable,function,class) =>from module import <member>
 |-> test your directory -> import project
			    project.function()

SymbolTable 

file: ab.py					file: pb.py
---------------				----------------------
var = 10					import ab
def f1():					mycode = 3045
   print("OK")					def f2():
---------------						print("OK")
						print(mycode)
__main__.var  | 10				print(var) ->Error Vs print(ab.var) ->10
__main__.f1   | 0x12345				f1() ->Error Vs ab.f1() ->OK
					-----------------------------

						__main__.mycode | 3045
						__main__.f2     | 0x123124
						ab.var          |  10
						ab.f1           | 0x12345
					--------------------------------------

In [ ]:
# Functional style code - Single line Code or Expression style
# ----------------------------------------------------------------
lambda 
comprehension
generator
|
map,filter,enumerate
|->expression <or> evaluation

lambda 
- unnamed function 
- function call with args return some value
- lambda <list of args>: basic operation

In [317]:
'''named function'''
def f1(a1,a2):
    return a1+a2

f1(10,20)

30

In [321]:
'''unnamed function'''
f2=lambda a1,a2:a1+a2
f2(10,20)

30

In [323]:
def f3(a):
    return a.upper()

f3('hello')

'HELLO'

In [325]:
f4 = lambda a:a.upper()
f4('hello')

'HELLO'

In [327]:
f5 = lambda a1,a2:a1 > a2
f5(10,20)

False

In [329]:
f5(60,30)

True

In [331]:
def fx(a):
    if(a >100):
        return a+100
    elif(a >50 and a<60):
        return a+200
    else:
        return a+300

In [333]:
f6 = lambda a:fx(a)
f6(150)

250

In [335]:
f6(55)

255

In [337]:
f6(10)

310

In [339]:
# list comprehension ->list append operation

L = []
for var in range(1,6):
    r = var+100
    L.append(r)

L

[101, 102, 103, 104, 105]

[value   for variable in collection]
 --(2)-- --------(1)----------

In [341]:
[var+100 for var in range(1,6)]

[101, 102, 103, 104, 105]

In [343]:
d={}
d['K1']=[var+100 for var in range(1,6)]
d

{'K1': [101, 102, 103, 104, 105]}

In [345]:
L = []
for var in range(1,6):
    if(var >3):
        r = var+100
        L.append(r)
L

[104, 105]

In [347]:
[var+100 for var in range(1,6) if var>3]

[104, 105]

In [349]:
L = []
for var in range(1,6):
    if(var >3):
        r = var+100
        L.append(r)
    else:
        r = var+300
        L.append(r)
L

[301, 302, 303, 104, 105]

In [351]:
[var+100 if var >3 else var+300 for var in range(1,6)]

[301, 302, 303, 104, 105]

# Generator
# -----------
function - returns an address - generator
           --------yield----------

In [353]:
def fa():
    return 10

def fb():
    yield 10

print(type(fa),type(fb))

<class 'function'> <class 'function'>

In [355]:
print(type(fa()),type(fb()))

<class 'int'> <class 'generator'>

In [357]:
fa()

10

In [359]:
fb()

1. next(genobj) ->value...StopIteration
2. for loop -> for var in geobj: ..
3. type cast to list -> list(genobj)

In [361]:
def fb():
    yield 10
    yield "D1","D2"
    yield "D1",["F1","F2"],["F3","F4"]
    yield 10+20*30

In [363]:
gen_obj = fb()

In [365]:
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))

10
('D1', 'D2')
('D1', ['F1', 'F2'], ['F3', 'F4'])
610

StopIteration:

In [367]:
gen_obj = fb()
for var in gen_obj:
    print(var)

10
('D1', 'D2')
('D1', ['F1', 'F2'], ['F3', 'F4'])
610

In [369]:
gen_obj = fb()
list(gen_obj)

[10, ('D1', 'D2'), ('D1', ['F1', 'F2'], ['F3', 'F4']), 610]

In [ ]:
>>> import os
>>> os.listdir("D1")
['D2', 'L1', 'L2', 'p1.log']
>>>
>>> os.walk("D1")
<generator object walk at 0x000002A49F244320>
>>> gen_obj = os.walk("D1")
>>> for var in gen_obj:
...     print(var)
...
('D1', ['D2', 'L1', 'L2'], ['p1.log'])
('D1\\D2', ['D3'], ['ab.txt'])
('D1\\D2\\D3', ['D4', 'Dx'], ['p1.log'])
('D1\\D2\\D3\\D4', [], ['ab.log'])
('D1\\D2\\D3\\Dx', [], [])
('D1\\L1', [], [])
('D1\\L2', [], ['p.txt'])
>>> bool([])
False
>>>
$ ls -R D1  <== Linux Commandline 
D1:
D2/  L1/  L2/  p1.log

D1/D2:
D3/  ab.txt

D1/D2/D3:
D4/  Dx/  p1.log

D1/D2/D3/D4:
ab.log

D1/D2/D3/Dx:

D1/L1:

D1/L2:
p.txt

In [ ]:
map,filter
|
map(function,collection) -> generator
    |          |
   lambda     comprehension/iterable/open(inputFile)

In [371]:
L=[]
def f1(a):
    return a+100

for var in range(1,6):
    r = f1(var)
    L.append(r)

L

[101, 102, 103, 104, 105]

In [373]:
map(lambda a:a+100,range(1,6))

In [375]:
list(map(lambda a:a+100,range(1,6)))

[101, 102, 103, 104, 105]

In [379]:
d={}
d['K1']=list(map(lambda a:a+100,range(1,6)))
L=[]
L.append(list(map(lambda a:a+100,range(1,6))))
L
#for var in list(map(lambda a:a+100,range(1,6))):
#   ...

[[101, 102, 103, 104, 105]]

map(function,collection) -> generator
|
filter(function,collection) ->generator 
------// returns True value only

In [383]:
list(map(lambda a1:a1 >15,[10,15,20,30,45]))

[False, False, True, True, True]

In [385]:
list(filter(lambda a1:a1 >15,[10,15,20,30,45]))

[20, 30, 45]

In [389]:
list(filter(lambda a1:a1+100,[10,15,20,30,45]))
# filter won't support arithemetic

[10, 15, 20, 30, 45]

#####################  Thank you ################